/* Columns */
@media(max-width: 1200px) and (min-width:900px;){

}
@media(max-width: 901px) and (min-width:750px;){

}
@media(max-width: 751px) and (min-width:430px;){
    li.left.team {width: 45%;margin: 0;padding: 0;}
}
@media(max-width: 429px){

}
/* ======================================================================================= */