* { margin:0; padding:0; }

body          { background:#fff; font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; text-align:center; }

img           { border:0; vertical-align:top; }

a             { color:#1e7ec8; text-decoration:underline; }
a:hover       { text-decoration:none; }
:focus        { outline:0; }

/* Headings */
h1,h2,h3,
h4,h5,h6      { margin:0 0 5px; line-height:1.35; color:#0a263c; }
h1            { font-size:20px; font-weight:normal; }
h2            { font-size:18px; font-weight:normal; }
h3            { font-size:16px; font-weight:bold; }
h4            { font-size:14px; font-weight:bold; }
h5            { font-size:12px; font-weight:bold; }
h6            { font-size:11px; font-weight:bold; }

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; /*border-collapse:collapse;*/ border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
p             { margin:0 0 10px; }
strong        { font-weight:bold; }
address       { font-style:normal; line-height:1.35; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     { font-size:1em; }
/*sup           { font-size:1em; vertical-align:top; }*/

/* Lists */
ul,ol         { list-style:none; }

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }
.clear        { clear: both;}
.d-block      { display: block;}
/* ======================================================================================= */

/* Default  */
.wrapper {width:100%;}
.page {width: 1000px; margin: 0 auto; overflow: hidden;}
.page-full {width: 1200px; margin: 0 auto; overflow: hidden;}
.border {border:1px solid #000;}
.b-blue { background-color:#f7fdfe;}
.b-white-blue {background-color:#0ebfdd }
.b-white {background-color: #fff;}
.b-photo {}
.b-map {}
.b-gray {background-color:#45494d; }
h1 {color:#0ebfdd; font-weight: bold; text-transform: uppercase; font-family: "Myriad Pro","Helvetica","Arial";}
body h2 {color: #0ebfdd;font-weight: bold;margin: 40px auto 15px;}
span a {color: #0ebfdd;font-weight: bold;margin: 40px auto 15px; font-size: 20px;margin:20px auto;
    display: block;}
span a:hover {text-decoration:none; color:#0ebfdd;}
.page.row {margin-right: auto;margin-left: auto;}
h2.white {color:#fff;}
h3.white {color:#fff;}
.white {color:#fff;}
/* Default  */
/* Header*/
.wrapper #top span {color: #fff;padding: 5px 0;display: block;text-align: right;}
.wrapper #top .left span {color: #fff;padding: 5px 0;display: block;text-align: left;}
.header.col-12 {padding: 10px 0;}
.logo {float: left;}
img.logotipo {margin: 20px;margin-left: 0;}
.top-links {margin-top: 15px;}
.top-links ul li {list-style-type: none; display: inline-block; margin: 8px 0;}
a.li-radius:hover {background-color: #0ebfdd;color: #fff;text-decoration: none !important;}
a.li-radius {height: 30px;padding: 7px;border-radius: 50px;color: #999;margin: 0 2px;}
div.wrap.b-gray#top {position: fixed;width: 100%;clear: both;z-index: 10;}
.header.row {margin-top: 30px;}
.b-gray i.fa-home {margin: 0 auto;display: block;width: 14px;margin-top: 2px;color:#0ebfdd;}
#top .col-lg-2.left a:hover, #top .col-lg-2.left a span li:hover {text-decoration: none;color: #0ebfdd;}
/* Header*/
/*Photo*/
.wrap.b-photo {background-image: url("../images/b-slider-1.jpg");  height:500px;background-attachment:fixed;background-size:cover;background-position: 0 -65px;}
.wrap.b-photo2 {background-image: url("../images/b-slider-2.jpg");  height:500px;background-attachment:fixed;background-size:cover;background-position: 0 -65px;}
.wrap.b-photo3 {background-image: url("../images/b-slider.jpg");  height:500px;background-attachment:fixed;background-size:cover;background-position: 0 -65px;}
.wrap.b-photo4 {background-image: url("../images/b-slider.jpg");  height:500px;background-attachment:fixed;background-size:cover;background-position: 0 -65px;}

/*Photo*/
/* Footer */
img.logo.logo-footer {margin: 15px 0;}
footer{color:#fff; text-align: left; padding: 20px 0;}
footer blockquote i {font-size: 12px;}
.col-md-4 .contato.social i.fa-facebook-square:hover {
    color: #428bca;
    cursor: pointer;
}
footer .col-md-3 h4,footer .col-md-4 h4,footer .col-md-4 h3, footer .col-md-2 h3, footer .col-md-3 img{
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}
.col-md-4 .contato.social i.fa-linkedin-square:hover {
    color: #428bca;
    cursor: pointer;
}
.col-md-4 .contato.social i.fa-twitter-square:hover {
    color: #2aabd2;
    cursor: pointer;
}
.col-md-4 .contato.social i.fa-google-plus-square:hover {
    color: #EE5757;
    cursor: pointer;
}
.col-md-4 .contato.social i {
    font-size: 40px;
    letter-spacing: 10px;
    float: right;
}
#NewsletterInputEmail {width: 75%;float: left;margin-right: 10px;}
#NewsletterSubmitEmail {width: 15%;float: left;}
.contato.social {clear: both;font-size: 30px;}
#telephone p{clear: both; font-size: 15px;}
#telephone p i{font-size: 14px;}
/* Footer */
/* Equipe */
.mask-circle {border-radius: 200px;width: 200px;height: 200px;float: left;overflow: hidden;}
.cover-team.one {background-image: url(../images/maks.jpg);height: 100%;}
.cover-team.two {background-image: url(../images/maks.jpg);height: 100%;}
.cover-team:hover {background-position: 0px 200px;}
li.left.team {margin: 0 0px 30px;}
.team .desc {display: block;text-align: left;margin-left: 40px;width: 70%;}
.team .desc h3 {display: inline-block;width: 100%;border-bottom: 2px solid #fff;padding-bottom: 5px;}
/* Equipe */
/* Mapa */
.overlay {background:transparent; position:relative;width:100%;height:450px; /* your iframe height */top:450px;  /* your iframe height */margin-top:-450px;  /* your iframe height */}
div#localizacao {clear: both;float: left;width: 100%;}
/* Mapa */

#missao span {font-size: 18px;}